.color-green{
	color:#72c02c;
	padding:0 5px;
	}
.text_color{
	color:#888;
}
.margin-right{
	margin-right:60px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.img_about{
	margin:0 auto;
	width:100%;
	height:auto;
	@media (max-width:991px){
		margin-top:20px;
	}
}
ul.list-unstyled{
	li{
		line-height:25px;
	}
}
.background_aboutus{
	width:100%;
	// max-height:310px;
	background-color:#dcddde;
	margin:30px 0 0px;
	h2{
		margin:8% auto;
		color:#555;
		font-weight:600;
		font-size:22px;
		@media (max-width:991px){
			text-align:center;
			
		}
		span{
			padding:20px 0;
			@media (max-width:991px){
				border-bottom:none;
			}
		}
	}
	p{
		margin:3% auto;
		color:#888;
	}
}
// .text-aboutus-res{
// 	.pull-right{
// 		@media (max-width:767px){
// 			float:none;
// 			margin-right:0;
// 		}
// 	}
// }