@charset "utf-8";
/* CSS Document */
.cd-top {
  z-index:99;
  border-radius:3px;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: fixed;
  bottom: 11px;
  right: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  background: rgba(114,192,44,.8) url(../svg/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;     
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #72c02c;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 14px;
    bottom: 11px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 30px;
    width: 30px;
    right: 14px;
    bottom: 11px;
  }

}


