body{
  background:#fff;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
  line-height:1.6;
  color:#333;
}
*{
  box-sizing:border-box;
  border-radius:0;
}
div{
  display:block;
}
a{
  color:#72c02c;
  text-decoration:none;
}
a:hover{
  color:#72c02c;
  text-decoration:underline;
}
a:active, a:hover{
  outline:0;
}
li{
  color:#555;
}
p, li, li a, label{
  color:#555;
}
img{
  vertical-align: middle;
  border: 0;
}
p{
  margin:0 0 10px;
  display: block;
}
// Header
header{
  position:relative;
  border-bottom: solid 2px #eee;
  z-index:100;
}
header > .container{
  display:table;
  margin-bottom:-40px;
}

// Logo
header .logo{
  height:100%;
  min-height:40px;
  min-width:100px;
  display:table-cell;
  vertical-align:middle;
}
header .logo img{
  z-index:1;
  margin:20px 0;
  position:relative;
}

// Topbar
header .topbar{
  z-index:12;
  padding:8px 0;
  position:relative;
}
header .topbar ul.languages li a{
  color:#555;
  display:block;
  font-size:10px;
  padding:2px 12px;
  margin-bottom: 1px;
  text-transform: uppercase;
  text-decoration:none;
}
header .topbar ul.loginbar{
  margin:0;
}
header .topbar ul.loginbar > li{
  display:inline;
  list-style:none;
  position:relative;
  padding-bottom:15px;
  
}
header .topbar ul.loginbar li i.fa{
  color:#bbb;
}
header .topbar ul.loginbar > li > a,
header .topbar ul.loginbar > li > a:hover{
  color:#7c8082;
  font-size:11px;
  text-transform: uppercase;
}
header .topbar ul.languages{
  top:25px;
  left:-5px;
  display:none;
  padding:4px 0;
  padding-left:0;
  list-style:none;
  min-width:100px;
  position:absolute;
  background:#f0f0f0;
}

header .topbar li:hover ul.languages{
  display:block;
}
header .topbar ul.languages li a:hover,
header .topbar ul.languages li.active a{
  background:#fafafa;
}
header .topbar ul.languages li.active a i{
  color:#999;
  float:right;
  margin-top: 2px;
}
header .topbar ul.loginbar li.topbar-devider{
  top:-1px;
  padding:0;
  font-size:8px;
  position:relative;
  margin:0 9px 0 5px;
  border-right:solid 1px #bbb;
}

// NAV
header .navbar-collapse{
  position:relative;
}
header .mega-menu .navbar-inner, 
header .mega-menu .container{
  position:relative;
}
header .mega-menu .nav, 
header .mega-menu .dropup, 
header .mega-menu .dropdown, 
header .mega-menu .collapse{
  position:static;
}
.nav{
  padding-left:0;
  list-style:none;
  margin-bottom:0;
}
.nav>li{
  position:relative;
  display:block;
}
header .navbar-nav > li > a{
  color:#687074;
  font-size:15px;
  font-weight:400;
  text-transform: uppercase;
}
header .mega-menu .dropdown-menu{
  left:auto;
}
navbar-nav>li>.dropdown-menu{
  margin-top:0;
  border-top-left-radius:0;
  border-top-right-radius:0
}
.dropdown-menu{
  position: absolute;
  top:100%;
  left:0;
  z-index:1000;
  display:none;
  float:left;
  min-width:160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size:14px;
  text-align:left;
  list-style:none;
  background-color:#fff;
  box-shadow:0 6px 12px rgba(0,0,0,.175);
}
header .mega-menu .dropdown-menu > li{
  display:block;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover{
  color:#262626;
  text-decoration: none;
  background-color:#f5f5f5;
}
.dropdown-menu>li>a{
  display:block;
  padding:3px 20px;
  clear: both;
  line-height:1.4;
  white-space:nowrap;
}
.nav .open>a, .nav .open>a:focus,
.nav .open>a:hover{
  background-color:#fff;
  border-color:#fff;
}
// NAV MOBILE
header .navbar-toggle{
  border-color:#5fb611;
}
.navbar-toggle{
  position:relative;
  float:right;
  margin-top:8px;
  margin-right:15px;
  margin-bottom:8px;
  border:1px solid transparent;
}
header .navbar-toggle, 
header .navbar-toggle:hover, 
header .navbar-toggle:focus{
  background:#72c02c;
  padding:6px 10px 2px;
}
.dropdown-menu, .navbar-toggle{
  border-radius:0;
  }
header .navbar-nav > .active > a{
  color:#72c02c;
}
header .navbar-toggle .fa{
  color:#fff;
  font-size:19px;
}
.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  border:0;
  clip: rect(0,0,0,0);
}
// NAV
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
// END NAV

// Search
header .nav > li > .search{
  color:#aaa;
  cursor: pointer;
  min-width:35px;
  font-size: 15px;
  text-align:center;
  background:#f7f7f7;
  padding:11px 0 12px;
  display: inline-block;
  border-bottom:solid 2px #aaa;
}
header .nav .search-open{
  right:0;
  top:40px;
  display:none;
  padding:14px;
  position:absolute;
  background:#fcfcfc;
  border-top:solid 2px #eee;
  box-shadow:0 1px 3px #ddd;
  
}
.input-group{
  position:relative;
  display:table;
  border-collapse: separate;
}
.input-group .form-control{
  position:relative;
  z-index:2;
  float:left;
  width:100%;
  margin-bottom:0;
}
.form-control{
  display: block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.4;
  color:#555;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  // transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
}
.input-group-btn{
  position:relative;
  font-size:0;
  white-space:nowrap;
}
.input-group-addon, .input-group-btn{
  width: 1%;
  vertical-align: middle;
}
.btn-u{
  border:0;
  color:#fff;
  font-size:14px;
  cursor:pointer;
  font-weight:400;
  padding:6px 13px;
  position:relatie;
  background: #72c02c;
  white-space: nowrap;
  display:inline-block;
  text-decoration:none;
}
button{
  overflow:visible;
}
header .nav > li > .search:hover{
  color: #72c02c;
  border-bottom-color: #72c02c;
  background: #f7f7f7;
}

// Slider
.da-slider{
  width:100%;
  height:427px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(../images/Slider-Picture.png) repeat 0% 0%;
  transition: background-position 1.4s ease-in-out 0.3s;
}
.slider-inner .da-slider{
  box-shadow: none;
  border-bottom:2px solid #ddd;
}
.da-slide-current{
  z-index:10;
}
.da-slide{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: left;
}
.da-slide-fromleft h2{
   animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-current h2, 
.da-slide-current p, 
.da-slide-current .da-link{
  left: 10%;
  opacity:1;
}
.da-slide h2{
  color: #f9f9f9 !important;
  line-height:52px;
  top: 100px;
  z-index:10;
  padding:0;
  margin-left:2%;
  font-weight: 400;
}

.da-slide h2 span{
  font-size:36px;
  font-style: nomal;
  padding: 0 5px;
  text-transform: uppercase;
  background-color: rgba(46, 98, 0, 0.8);
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
  margin-right:5px;
}
.da-slide-fromleft p{
  animation: fromLeftAnim0 0.6s ease-in 0.6s both;
}
.da-slide p{
  font-size:18px;
  font-weight: 400;
  line-height: 25px;
  width: 100%;
  top: 300px;
  color: #fff;
  overflow: hidden;
  margin-left: 2%;
}
.da-slide p span{
  padding: 0 10px;
  font-style: nomal;
  background-color:#2d2d2d;
}
.da-slide h2, 
.da-slide p, 
.da-slide 
.da-link, 
.da-slide 
.da-img{
  position: absolute;
}
.da-slide-fromright .da-img{
  transition:fromRightAnim4 0.6s ease-in 0.8s both;
}
.da-slide-current .da-img{
  left: 60%;
  opacity: 1;
}
.da-slide .da-img{
  text-align:center;
  top:80px;
  width:50%;
  height:328px;
  line-height:320px;
  margin-left: -16%; 
}

// Dot Slider
.swiper-pagination-bullet-active{
  background:#fff;
  top: 0px;
  left: 2px;
  position: relative;
  border-radius: 50% !important;
}
.swiper-pagination-bullet{
  opacity: 1;
}
.swiper-button-next, 
.swiper-container-rtl .swiper-button-prev{
  background: transparent url(../images/left.png) no-repeat;
}

// FOOTER
footer{
  padding-top:40px;
  background:#272727;
}
.footer-logo{
  margin:17px 0 20px;
}
footer p{
  color:#eee;
}

// footer cot 2
.headline{
  display:block;
  margin:10px 0 25px 0;
  border-bottom:1px dotted #e4e9f0;
}
footer h2{
  color: #eee;
  font-size: 18px;
  font-weight:200;
}
.headline h2, .headline h3, .headline h4{
  margin:0 0 -2px 0;
  padding-bottom: 5px;
  display:inline-block;
  border-bottom:2px solid #72c02c;
}
.list-unstyled{
  padding-left:0;
  list-style:none;
}
.latest-list li:first-child{
  padding-top:0;
  border-top:none;
}
.latest-list li{
  padding: 8px 0;
  border-top:1px solid #353535;
}
.latest-list li a{
  color: #eee;
}
.latest-list small{
  color:#999;
  display:block;
}

// footer cot 3
.link-list li:first-child{
  border-top:none;
}
footer address, footer .link-list a, footer .link-list i{
  color:#eee;
}
.link-list a{
  font-size:11px;
  padding: 6px 0px;
  display:inline-block;
  text-transform:uppercase;
  
}
.link-list li i{
  float:right;
  margin-top:10px;
  color:#bbb;
}
footer .link-list li{
  border-top:solid 1px #353535;
}
footer .map-img{
  background: url(../images/map.png) 5px 60px no-repeat;
}
address{
  margin-top:20px;
  margin-bottom: 20px;
  font-style: nomal;
}
// FOOTER 2
footer .copyright{
  background:#222;
  border-top:none;
  padding: 10px 0 5px;
  margin:0px;
  margin-top:40px;
}
footer .copyright p{
  color:#eee;
  margin-top:14px;
}
footer .copyright a{
  margin:0 2px;
}
// Social link footer
footer .footer-socials{
  margin-top:12px;
  text-align: right;
}
.list-inline{
  padding-left:0;
  margin-left: -5px;
  list-style: none;
}
.list-inline>li{
  display:inline-block;
  padding-right:5px;
  padding-left:5px;
}
 footer .footer-socials li a{
  color:#222;
  font-size:16px;
  
}
footer .footer-socials li .border-social{
  width:30px;
  height:30px;
  background:#c8c8c8;
  border-radius:50%;
}
footer .footer-socials li i{
  padding:10px 10px 0px;
}

// RESPONSIVE
@media only screen and (min-width: 992px){
  header .dropdown-menu .active > a,
  header .dropdown-menu li > a:hover{
    color:#687074;
    filter:none !important;
    transition:all 0.1s ease-in-out; 
  }
  header .dropdown-menu li a{
    font-size:13px;
    font-weight:400;
    padding:6px 15px;
    border-bottom:solid 1px #eee;
    
  }
  header .navbar-collapse{
    padding:0;
    position:relative;
  }
  header .navbar-nav{
    float:right;
  }
  header .navbar-nav > li > a, 
  header .navbar-nav > li > a:hover, 
  header .navbar-nav > li > a:focus, 
  header .navbar-nav > .active > a, 
  header .navbar-nav > .active > a:hover, 
  header .navbar-nav > .active > a:focus {
    background:none;
  }
  header .navbar-nav > li > a, 
  header .navbar-nav > li > a:focus{
    border-bottom:solid 2px transparent;
  }
  header .navbar-nav > li > a {
    bottom:-2px;
    position:relative;
    padding:9px 30px 9px 20px;
  }
  .header .navbar-nav > li:hover > a{
    color:#72c02c;
  }
  header .dropdown-menu{
    padding:0;
    border:none;
    min-width:200px;
    border-radius:0;
    z-index:9999;
    border-top:solid 2px #72c02c;
    border-bottom:solid 2px #687074;
  }
  header .nav > li > .search{
    bottom: -2px;
    position: relative;
  }
 header .navbar-nav .search-open{
    width:330px;
  }
  header .navbar-nav > li > a:hover,
  header .navbar-nav > .active > a{
    bottom:-2px;
    position:relative;
    border-bottom: solid 2px #72c02c;
  }
  header .navbar-nav > li:hover > a{
    color:#72c02c;
  }
}


@media only screen and (min-width: 768px){
  .navbar-nav{
    float:left;
    margin:0;
  }
  .navbar-nav>li{
    float:left;
  }
  .navbar-toggle{
    display:none;
  }
  .navbar-collapse{
    width:auto;
    border-top:0;
    box-shadow:none;
  }
}

@media only screen and (max-width:991px){
  header > .container{
    margin-bottom:0;
  }
  header .navbar-nav > .active > a, 
  header .navbar-nav > .active > a:hover, 
  header .navbar-nav > .active > a:focus{
    background:#72c02c;
    color:#fff;
  }
  header .navbar-nav > li a{
    border-bottom:solid 1px #eee;
  }
  header .navbar-nav > li > a{
    font-size:14px;
    padding:9px 10px;
  }
  header .navbar-toggle{
    display:block;
  }
  header .navbar-collapse.collapse.in{
    display:block;
    overflow-y:auto;
  }
  header .navbar-collapse, 
  header .navbar-collapse .container{
    padding-left:0;
    padding-right:0;
  }
  header .navbar-nav{
    margin:0 0 5px;
    float:none;
  }
  header .navbar-nav > li{
    float:none;
  }
  header .navbar-nav > .active > a, 
  header .navbar-nav > .active > a:hover, 
  header .navbar-nav > .active > a:focus{
    bacground:#72c02c;
    color:#fff;
  }
}

@media only screen and (max-width: 991px) and (min-width: 767px){
  header .navbar-toggle{
    margin-right:0;
  }
  
}