.features{
	overflow:hidden;
	margin-bottom:10px;
	padding: 15px 15px 10px;
  @media (max-width:767px){
    margin-bottom:-10%;
  }
    
	.icon_ser{
		text-align:center;
		margin:50px 0px 30px 110px;
		
         @media (max-width:991px){
              margin-left:24%;
              }
        @media (max-width:767px){
             margin-left:43%;
          } 
     }
     
     .describe{
     	overflow:hidden;
     	margin-bottom:40px;
           
     	h4{
     		line-height:25px;
     		font-size:22px;
     		color:#555;
     		margin-top:5px;
     		text-align:center;
     	    }
     	p{
     		color:#999;
     		text-align:center;
     		font-size:12px;
              
     	   }
     }
}




