footer{
  padding-top:40px;
  background:#272727;
}
.footer-logo{
  margin:17px 0 20px;
}
footer p{
  color:#eee;
}

// footer cot 2
.headline{
  display:block;
  margin:10px 0 25px 0;
  border-bottom:1px dotted #e4e9f0;
}
footer h2{
  color: #eee;
  font-size: 18px;
  font-weight:200;
}
.headline h2, .headline h3, .headline h4{
  margin:0 0 -2px 0;
  padding-bottom: 5px;
  display:inline-block;
  border-bottom:2px solid #72c02c;
}
.list-unstyled{
  padding-left:0;
  list-style:none;
}
.latest-list li:first-child{
  padding-top:0;
  border-top:none;
}
.latest-list li{
  padding: 8px 0;
  border-top:1px solid #353535;
}
.latest-list li a{
  color: #eee;
}
.latest-list small{
  color:#999;
  display:block;
}

// footer cot 3
.link-list li:first-child{
  border-top:none;
}
footer address, footer .link-list a, footer .link-list i{
  color:#eee;
}
.link-list a{
  font-size:11px;
  padding: 6px 0px;
  display:inline-block;
  text-transform:uppercase;
  
}
.link-list li i{
  float:right;
  margin-top:10px;
  color:#bbb;
}
footer .link-list li{
  border-top:solid 1px #353535;
}
footer .map-img{
  background: url(../images/map.png) 5px 60px no-repeat;
}
address{
  margin-top:20px;
  margin-bottom: 20px;
  font-style: nomal;
  line-height:30px;
}
// FOOTER 2
footer .copyright{
  background:#222;
  border-top:none;
  padding: 10px 0 5px;
  margin:0px;
  margin-top:40px;
}
footer .copyright p{
  color:#eee;
  margin-top:14px;
}
footer .copyright a{
  margin:0 2px;
}
// Social link footer
footer .footer-socials{
  margin-top:12px;
  text-align: right;
  @media (max-width:991px){
    text-align:left;
  }
}
.list-inline{
  padding-left:0;
  margin-left: -5px;
  list-style: none;
}
.list-inline>li{
  display:inline-block;
  padding-right:0px;
  padding-left:0px;
}
 footer .footer-socials li a{
  color:#222;
  font-size:20px;
  
}
footer .footer-socials li a i{
  width:30px;
  height:30px;
  background:#c8c8c8;
  border-radius:50%;
}
footer .footer-socials li i{
  padding:10px 10px 0px 5px;
}
footer .footer-socials li a i:hover{
  background-color:#72c02c;
}

// RESPONSIVE
// @media only screen and (min-width: 992px){
//   header .dropdown-menu .active > a,
//   header .dropdown-menu li > a:hover{
//     color:#687074;
//     filter:none !important;
//     transition:all 0.1s ease-in-out; 
//   }
//   header .dropdown-menu li a{
//     font-size:13px;
//     font-weight:400;
//     padding:6px 15px;
//     border-bottom:solid 1px #eee;
    
//   }
//   header .navbar-collapse{
//     padding:0;
//     position:relative;
//   }
//   header .navbar-nav{
//     float:right;
//     margin-top:10px;
//   }
//   header .navbar-nav > li > a, 
//   header .navbar-nav > li > a:hover, 
//   header .navbar-nav > li > a:focus, 
//   header .navbar-nav > .active > a, 
//   header .navbar-nav > .active > a:hover, 
//   header .navbar-nav > .active > a:focus {
//     background:none;
//   }
//   header .navbar-nav > li > a, 
//   header .navbar-nav > li > a:focus{
//     border-bottom:solid 2px transparent;
//   }
//   header .navbar-nav > li > a {
//     bottom:0px;
//     position:relative;
//     padding:9px 30px 9px 20px;
//   }
//   header .navbar-nav > li:hover > a{
//     color:#72c02c;
//   }
//   header .dropdown-menu{
//     padding:0;
//     border:none;
//     min-width:200px;
//     border-radius:0;
//     z-index:9999;
//     border-top:solid 2px #72c02c;
//     border-bottom:solid 2px #687074;
//   }
//   header .nav > li > .search{
//     bottom: -2px;
//     position: relative;
//   }
//  header .navbar-nav .search-open{
//     width:330px;
//   }
//   header .navbar-nav > li > a:hover,
//   header .navbar-nav > .active > a{
//     bottom:-2px;
//     position:relative;
//     border-bottom: solid 2px #72c02c;
//   }
//   header .navbar-nav > li:hover > a{
//     color:#72c02c;
//   }
// }


// @media only screen and (min-width: 768px){
//   .navbar-nav{
//     float:left;
//     margin:0;
//   }
//   .navbar-nav>li{
//     float:left;
//   }
//   .navbar-toggle{
//     display:none;
//   }
//   .navbar-collapse{
//     width:auto;
//     border-top:0;
//     box-shadow:none;
//   }
// }

// @media only screen and (max-width:991px){
//   header > .container{
//     margin-bottom:0;
//   }
//   header .navbar-nav > .active > a, 
//   header .navbar-nav > .active > a:hover, 
//   header .navbar-nav > .active > a:focus{
//     background:#72c02c;
//     color:#fff;
//   }
//   header .navbar-nav > li a{
//     border-bottom:solid 1px #eee;
//   }
//   header .navbar-nav > li > a{
//     font-size:14px;
//     padding:9px 10px;
//   }
//   header .navbar-toggle{
//     display:block;
//   }
//   header .navbar-collapse.collapse.in{
//     display:block;
//     overflow-y:auto;
//   }
//   header .navbar-collapse, 
//   header .navbar-collapse .container{
//     padding-left:0;
//     padding-right:0;
//   }
//   header .navbar-nav{
//     margin:0 0 5px;
//     float:none;
//   }
//   header .navbar-nav > li{
//     float:none;
//   }
//   header .navbar-nav > .active > a, 
//   header .navbar-nav > .active > a:hover, 
//   header .navbar-nav > .active > a:focus{
//     bacground:#72c02c;
//     color:#fff;
//   }
// }

// @media only screen and (max-width: 991px) and (min-width: 767px){
//   header .navbar-toggle{
//     margin-right:0;
//   }
  
// }