$borderBt:solid 2px #72c02c;
$colorWhite: #fff;
$colorGray:#7c8082;

header {
  position: relative;
  border-bottom: solid 2px #eee;
  z-index: 100;
  @media (max-width:991px){
    border-bottom: none;
  }
  
  &.container {
    display: table;
    margin-bottom: -40px;
  }
}
.logo{
  margin-top:5px;
  @media (max-width:991px){
    margin-top:0;
  }
}
// Topbar
header {
  .navbar-header {
    a{
      @media(max-width: 767px) {
        padding-left: 15px;
      }
    }
  }
  .topbar {
    z-index: 12;
    padding: 8px 0;
    position: relative;
    ul.loginbar {
      margin: 0;
      i.fa {
        color: #bbb;
      }
      li {
        display: inline;
        list-style: none;
        position: relative;
        padding-bottom: 15px;
        color: $colorGray;
        font-size: 11px;
        text-transform: uppercase;
        &.topbar-devider {
          top: -1px;
          padding: 0;
          font-size: 8px;
          position: relative;
          margin: 0 9px 0 5px;
          border-right: solid 1px #bbb;
        }
        &:hover {
          ul.languages {
            display: block;
          }
        }
        a {
          color: $colorGray;
          font-size: 11px;
          text-transform: uppercase;
          &:hover {
            color: $colorGray;
            font-size: 11px;
            text-transform: uppercase;
          }
        }
      }
      ul.languages {
        top: 25px;
        left: -5px;
        display: none;
        padding: 4px 0;
        padding-left: 0;
        list-style: none;
        min-width: 100px;
        position: absolute;
        background: #f0f0f0;
        li {
          &.active {
            a {
              background: #fafafa;
              i {
                color: #999;
                float: right;
                margin-top: 2px;
              }
            }
          }
        }
        a {
          color: #555;
          display: block;
          font-size: 10px;
          padding: 2px 12px;
          margin-bottom: 1px;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
            background: #fafafa;
          }
        }
      }
    }
  }
}
// End Topbar
// .navbar-default .navbar-nav>li.dropdown:hover>a,
// .navbar-default .navbar-nav>li.dropdown:hover>a:hover,
// .navbar-default .navbar-nav>li.dropdown:hover>a:focus {
//   background-color: $colorWhite;
//   color: #72c02c;
//   @media (max-width:991px){
//     background-color:#72c02c;
//     color:#fff;
//   }
// }

// Collapsible Navbar Desktop
.navbar-default {
  background-color: $colorWhite;
  border-color: $colorWhite;
  .navbar-nav{
    >.open{
      >a,>a:focus,>a:hover{
        background-color:#fff;
      }
    }
  }
}
.navbar-nav{
  @media only screen and (min-width: 768px){
    float:none;
  }

    >li.dropdown{
        &:hover {
          >a, >a:hover,>a:focus{
            background-color: $colorWhite;
            color: #72c02c;
            @media (max-width:991px){
            background-color:#72c02c;
            color:#fff;
            
          }
        }
      }

     > a{
        color: #687074;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 400;
        
        @media (max-width:991px){
       border-top: solid 1px #eee;
       }

      }

    }

  }

.nav, .navbar-nav {
  float: right;
  @media (max-width:991px){
    float:none;
    margin-top:51px;
    width:105%;
  }
  @media (max-width:767px){
    margin-top:0;
    width:auto;
  }
}

.navbar {
  margin-bottom: 0px;
  border: none;
}
.nav .open{

    >a, >a:focus,>a:hover{
             border-color:#fff;
            }
}
.navbar-default{

  .navbar-nav{
    >li{
      @media (max-width:991px){
     float:none;
      }
      a{
        @media (max-width:991px){
        padding: 9px 10px;
        width:100%;
       }
      }
    }

    >.active{

      >a,>a:focus,>a:hover{
        color: #72c02c;
        background-color: $colorWhite;
        border-bottom: $borderBt;
        bottom: 0px;
        position: relative;
        @media (max-width:991px){
        border-bottom:none;
        background-color:#72c02c;
        color:#fff;
        }

      }

    }

  }
  .navbar-collapse{
    @media (max-width:991px){
      display:none !important;
    &.in{
      display:block !important;
      overflow-y:hidden;
        }
      }
    }
}

.navbar-default  {
  .navbar-nav  {
    .dropdown {
      .dropdown-toggle{
        padding:20px 45px 9px 20px;
        span{
          right:28px;
          display:block;
          position:absolute;
          top:23px;
            @media (max-width:991px){
              right:20px;
              top:16px;
            }
          }
        }
      }
    }
  }
.dropdown-menu {
  padding: 0;
  border: none;
  min-width: 200px;
  border-radius: 0;
  z-index: 9999;
  border-top: $borderBt;
  border-bottom: solid 2px #687074;
  @media (max-width:991px){
    min-width: 100%;
    border-bottom:none;
    border-top:none;
  }
  >.active{
    >a,>a:focus,>a:hover{
      color: #687074;
      filter: none;
      background-color: #eee;
    }
  }
  
  >li{

    >a{

      font-size: 13px;
      padding: 6px 15px;
      border-bottom: solid 1px #eee;
      color: #687074;
      &:focus,a:hover{
        color: #687074;
        background-color: #eee !important;
      }

    }

  }

}

li.dropdown:hover>.dropdown-menu {
  display: block;
  @media(max-width: 991px) {
    display: none!important;
    
    &.showed {
      display: block!important;
    }
  }
}





// End Collapsible Navbar Desktop
//Toggle button menu  mobile
.navbar-default .navbar-toggle {
  border-color: #5fb611;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form{
  border-color:#fff;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #72c02c;
}
.navbar-toggle{
  @media (min-width: 992px){
    display:none;
  }
  @media (max-width: 991px){
    display:block;
  }
  
}

.navbar-toggle{
  @media (max-width:767px){
    display:block!important;
    
  }
}
.navbar-collapse{
  @media (max-width:991px){
    float:none;
    display:none;
  }
}

.navbar-toggle{
     @media (min-width:768px) and (max-width:991px){
       left:360%;  
     }
     
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
  background-color:#72c02c;
}
// Sticky header
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
// TEXT SWIPER
.swiper-slide {
  h2 {
    
  }
}
.swiper-slide-active {
  h2{
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    
  }
  p{
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    animation-delay: 2s;
  }
  .da-img img{
     -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }
}

// Search

header .nav > li{
  @media (max-width:991px){
    border-top:solid 1px #eee;
  }
}
header .nav > li > .search{
  position:relative;
  bottom:-11px;
  color:#aaa;
  cursor: pointer;
  min-width:35px;
  font-size: 15px;
  text-align:center;
  background:#f7f7f7;
  padding:11px 0 12px;
  display: inline-block;
  border-bottom:solid 2px #aaa;
  &:hover {
  color: #72c02c;
  border-bottom-color: #72c02c;
  background: #f7f7f7;
    @media (max-width:991px){
    background:#72c02c;
    color:#fff;
    }
  }
  @media (max-width:991px){
    color:#999;
    width:35px;
    height:34px;
    line-height:12px;
    background:#eee;
    margin:5px 10px 19px;
    border-bottom:none;
    
  }
}
header .nav .search-open{
  right:0;
  top:49px;
  display:none;
  padding:14px;
  position:absolute;
  background:#fcfcfc;
  border-top:solid 2px #eee;
  box-shadow:0 1px 3px #ddd;
  z-index:5;
  @media (max-width:991px){
    top:16px;
    padding:0;
    left:48px;
    border-top:none;
    box-shadow:none;
    background:none;
    margin-right:10px;
  }
}
.input-group{
  position:relative;
  display:table;
  border-collapse: separate;
  width:289px;
  @media (max-width:991px){
    width:95%;
  }
}
.input-group .form-control{
  position:relative;
  z-index:2;
  float:left;
  width:100%;
  margin-bottom:0;
}
.form-control{
  display: block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.4;
  color:#555;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  // transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
}
.input-group-btn{
  position:relative;
  font-size:0;
  white-space:nowrap;
}
.input-group-addon, .input-group-btn{
  width: 1%;
  vertical-align: middle;
}
.btn-u{
  border:0;
  color:#fff;
  font-size:14px;
  cursor:pointer;
  font-weight:400;
  padding:6px 13px;
  position:relatie;
  background: #72c02c;
  white-space: nowrap;
  display:inline-block;
  text-decoration:none;
}
button{
  overflow:visible;
}

