
.text_lastest{
	padding:30px 0px;
	font-size:22px;
	
	span{
		padding:15px 0;
	}
}
.frames_imglastest{
	width:45%;
	height:350px;
	background:#ccc;
	@media(max-width:991px){
	width:80%;
	height:auto;
	margin:0 auto;
	}
}
// dot Carousel
ol.carousel-indicators{
	margin-bottom:-60px;
	margin-left:-55%;
	@media (max-width:991px){
		margin-left:-34%;
	}
}
.carousel-indicators .active{
	width:14px;
	height:14px;
	background-color:#72c02c;
}
.carousel-indicators li{
	background-color:#e4e4e4;
	width:14px;
	height:14px;
}
// text
.carousel-caption{
	position:absolute;
	text-align:left;
	margin-left:30%;
	width:75%;
	height:auto;
	text-shadow:none;
	display:inline-block;
	top:0px;
	word-wrap:break-word;
	@media (max-width:991px){
	width:75%;
	margin:0% 0 0 0;
	position:relative;
	left:72px;	
 	}
 	@media (max-width:767px){
    text-align:center;
 	}
	
	h4{
		color:#555;
	}
	p{
		color:#999;
		line-height:25px;
		word-wrap:break-word;
	}
}
.caption-2{
	margin: 8% 0 0 28%;
	width:75%;
	@media (max-width:991px){
		margin:6% 0 0 -15%;
	}
}
.btn-view-carol{
	margin:2% 0;
	@media (max-width:991px){
		margin:0 auto;
	}
}
.btn-view-bg{
	padding:5px 10px;
	font-size:14px;
	margin-top:0px;
}
.btn-view{
	border:0;
	color:#fff;
	cursor:ponter;
	font-weight:400;
	position:relative;
	background:#72c02c;
	white-space:nowrap;
	display:inline-block;
	
}
.btn-view-carol a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	&:hover{
		color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	}
}
// slide 2
.list_slide2{
	margin-left:13%;
	list-style:none;
	
	li{
		line-height:20px;
		color:#999;
		font-size:13px;
		@media (max-width:991px) and (max-width:767px){
	    text-align:left;
	         }
	    
		i{
			color:#72c02c;
			padding:10px 10px;
			font-size:8px;
		}
	}
}
// slide 3
.list_slide3{
	margin-left:30%;
	margin-top:5%;
	
	@media (max-width:991px){
	margin:0 0 0 14%;
	}
}
.center{
	@media (max-width:991px){
	margin:0 auto;
	display:block;
	}
}