@import "header.scss";
@import "Slider.scss";
@import "footer.scss";
@import "Features.scss";
@import "Testimonials.scss";
@import "RecentWorks.scss";
@import "about_us.scss";
@import "latest_shots.scss";
@import "what_they_say.scss";
@import "what_we_provide.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  background:white;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
  line-height:1.6;
  color:#333;
}
*{
  box-sizing:border-box;
  border-radius:0;
}
div{
  display:block;
}
a{
  color:#72c02c;
  text-decoration:none;
}
a:hover{
  color:#72c02c;
  text-decoration:underline;
}
a:active, a:hover{
  outline:0;
}
li{
  color:#555;
}
p, li, li a, label{
  color:#555;
}
img{
  vertical-align: middle;
  border: 0;
}
// p{
//   margin:0 0 10px;
//   display: block;
// }