.recentworks{
	text-align:center;
	// margin:-70px 0px 30px 0px;
	
	.text_recent{
		color:#555;
		padding:10px 0px 10px 0px;
		margin-bottom:10px;
		visibility: visible;
		h2{
			font-size:22px;
			margin-top:-40px;
		    }
		span{
		  	padding:10px 0px 10px 0px ;
		  }
		p{
			color:#999;
			padding:20px 0px;
			line-height:35px;
			margin:20px 0 -30px;
		}
	}
	&:hover .recent_hover{
			visibility: visible;
			
			}
		
		.recent_hover{
			// position:absolute;
			margin:30px 0 0px 0;
			border-bottom:1px solid #ccc;
			visibility: hidden;
			
			.h2_hover{
				margin:-35px 0px -2px 0;
				padding-bottom:10px;
				display:inline-block;
				border-bottom:2px solid #72c02c;
				font-size:22px;
				color:#555;
				text-align:left;
				float:left;
               }
		    }
	&:hover .text_recent{
		visibility: hidden;
	}
}

.bd_bottom{
	border-bottom:2px solid #74c52c;
	
}
.icon_tag{
	direction: rtl;
}
.thumbnail-style{
	padding:7px;
	margin-bottom:20px;
	// @media (max-width:991px){
	// 	margin-left:-60%;
	//      }
	.text-recentwork-res{
		// @media (max-width:991px){
		// 	text-align:center;
		// 	margin-left:-30%;
		// }
	}
	h3{
		color:#555;
		margin:10px 0 8px 0;
		font-size:18px;
		line-height:30px;
		text-transform: uppercase;
		font-weight:600;
	}
	p{
		color:#999;
		line-height:20px;
	}
	span.text_property{
		color:#999;
		line-height:40px;
		padding:10px 0;
	}
	i{
		color:#999;
		 direction: rtl;
		 padding:10px;
	}
	.thumbnail-img{
		margin-top:11px;
		// @media (max-width:991px){
		// margin-left:50%;
	 //     }
	}
}
.overflow-hidden{
	overflow:hidden;
	position:relative;
	&:hover .img_recentwork_hv, &:hover .circle_search{
		visibility:visible;
		
	  }
    
}
.img_recentwork_hv{
	position:absolute;
	background: rgba(0, 0, 0, 0.5);
	 top:0;
	 width:100%;
	 height:100%;
	 visibility: hidden;
	 text-align:center;
	 @media (max-width:768px){
	 	// margin-left:25%;
	 	width:100%;
	 }
}
.circle_search{
	 	width:70px;
	 	height:70px;
	 	z-index:600;
	 	background-color:#72c02c;
	 	border-radius:50%;
	 	padding:20px;
	 	margin:23% auto;
	 	// transform: translate(190%, 115%);
	 	visibility: hidden;
	 	text-align:center;
	 	@media (max-width:768px){
	 		margin:30% auto;
	 	}
	 	a{
	 	  text-align: center;
	 	  font-size:30px;
	      color: #fff;	
	      font-weight:100;
	      margin:2px;
	      text-decoration:none;
	      cursor:pointer;
	      opacity:1;
	      &:hover{
	      	color: #fff;
	      	text-decoration:none;
	      }
	 	}
	 }

.margin-bottom-20{
	margin-bottom:20px;
}
.thumbnail-kenburn img{

	transition:all 0.8s ease-in-out;
	@media (max-width:768px){
		width:100%;
		margin:0 auto;
	}
}
.thumbnail{
	border:none;
}
