
// Slider
.da-slider{
  width:100%;
  height:427px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: transparent url(../images/Slider-Picture.png) repeat 0% 0%;
  transition: background-position 1.4s ease-in-out 0.3s;
}
.slider-inner .da-slider{
  box-shadow: none;
  border-bottom:2px solid #ddd;
}
.da-slide-current{
  z-index:10;
}
.da-slide{
  // position:absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: left;
}
.da-slide-fromleft h2{
   animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-current h2, 
.da-slide-current p, 
.da-slide-current .da-link{
  left: 10%;
  opacity:1;
}
.da-slide h2{
  color: #f9f9f9 !important;
  line-height:52px;
  top: 100px;
  z-index:10;
  padding:0;
  margin-left:2%;
  font-weight: 400;
}

.da-slide h2 span{
  font-size:36px;
  font-style: nomal;
  padding: 0 5px;
  text-transform: uppercase;
  background-color: rgba(46, 98, 0, 0.8);
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
  margin-right:5px;
}
.da-slide-fromleft p{
  animation: fromLeftAnim0 0.6s ease-in 0.6s both;
}
.da-slide p{
  font-size:18px;
  font-weight: 400;
  line-height: 25px;
  width: 100%;
  top: 300px;
  color: #fff;
  overflow: hidden;
  margin-left: 2%;
}
.da-slide p span{
  padding: 0 10px;
  font-style: nomal;
  background-color:#2d2d2d;
}
.da-slide h2, 
.da-slide p, 
.da-slide 
.da-link, 
.da-slide 
.da-img{
  position: absolute;
}
.da-slide-fromright .da-img{
  transition:fromRightAnim4 0.6s ease-in 0.8s both;
}
.da-slide-current .da-img{
  left: 60%;
  opacity: 1;
}
.da-slide .da-img{
  text-align:center;
  top:80px;
  width:50%;
  height:328px;
  line-height:320px;
  margin-left: -16%; 
  @media(max-width:991px){
    display:none;
  }
}

// Dot Slider
.swiper-pagination-bullet-active{
  background:#fff;
  top: 0px;
  left: 2px;
  position: relative;
  border-radius: 50% !important;
}
.swiper-pagination-bullet{
  opacity: 1;
  width:12px;
  height:12px;
  border-radius:50% !important;
  
}
 
.swiper-button-prev{
  background: transparent url(../images/left.png) no-repeat;
  width:60px;
  height:57px;
}
.swiper-button-next{
  background: transparent url(../images/Right.png) no-repeat;
  width:61px;
  height:56px;
}
