.background_Testimonials{
	background-image:url("../images/testimo.png");
	background-repeat:no-repeat;
	background-size:cover;
	overflow:visible;
	position:relative;
	padding:0px 0 100px 0;
	width:100%;
	margin:10px 0px 100px 0px;
	
	::after {
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	top:0;
	
	}
	
	.content_Testimonials {
	color:#fff;
	word-spacing:2px;
	text-align:center;
	line-height:25px;
	margin:50px 0 0px 0;
	
	h4 {
	font-size:22px;
	margin-top:-10px;
	   }
	p{
	color:#fff;
	margin:0 auto;
	  }

 }

	.button_download{
		width:120px;
		height:35px;
		border:2px solid #fff;
		// position:absolute;
		margin:25px auto -50px;
		text-align:center;
		
		&:hover{
			background:#72c02c;
			cursor:pointer;
			
		    }
		a{
			color:#fff;
			text-align:center;
			line-height:30px;
			font-size:14px;
			font-weight:600;
			text-decoration:none;
			margin-left:8px;
	 }
  }
}

.color_green{
				color:#74c52c;
		       }
.padd_bd{
	padding:10px 0px;
}
.hr-dimention{
	width:30px;
	border:2px #74c52c solid;
	margin:15px auto;
}
