.background_wts{
	width:100%;
	padding-bottom:5px;
	background-size: cover;
	background-repeat: no-repeat;
	margin:100px 0;
	position:relative;
	overflow:visible;
	background-image: url("../images/What They Say.jpg");
	@media (max-width:991px){
		padding-bottom:30px;
	}
	
	.background_wts_hover{
	width:100%;
	position:absolute;
	padding:0 20px;
	background-color:rgba(0,0,0,.5);
	visibility:hidden;
        }
    &:hover .background_wts_hover{
    	visibility:visible;
    }
	
}
.text_wts {
	position:relative;
	.head_wts{
		color:#fff;
		padding:20px 0;
		text-align:center;
		line-height:20px;
		font-size:22px;
	}
	span{
		padding:10px 0;
	}
	p{
		color:#fff;
		text-align:center;
		line-height:25px;
	}
}
// Block
.block1{
	
	padding:1px 30px 1px 30px;
	background: rgba(255,255,255,.2);
	margin:30px auto;
	position:relative;
	@media (max-width:991px){
		
	}
	@media (max-width:767px){
		margin:30px auto;
	}
	.img_block1{
		max-width:100%;
		margin:20px auto;
		display:block;
		@media (max-width:767px){
			max-width:100%;
			margin:20px auto;
		}
	}
	.text_block1{
	margin:-0px 0 35px;
	text-align:center;
	color:#fff;
	@media (max-width:767px){
		margin:25px auto;
	}
	span{
		color:#72c02c;
	}
	p{
		color:#fff;
		padding:10px 0;
	}
   }
}
.block2{
	@extend .block1;
	@media (max-width:991px){
		
	}
	@media (max-width:767px){
		margin:30px auto;
	}
	.img_block2{
		max-width:100%;
		margin:20px auto;
		display:block;
		@media (max-width:767px){
			max-width:100%;
			margin:20px auto;
		}
	}
	.text_block2{
		@extend .text_block1;
		margin:0px 0 30px;
		@media (max-width:767px){
		margin:25px auto;
		
	   }
	}
}
.block3 {
	// width:330px;
	// height:360px;
	padding:1px 30px 1px 30px;
	background: rgba(255,255,255,.2);
	margin:30px auto;
	position:relative;
	@media (max-width:767px){
		margin:30px auto;
	}
	.img_block3{
		max-width:100%;
		margin:20px auto;
		display:block;
		@media (max-width:767px){
			max-width:100%;
			margin:20px auto;
		}
	}
	.text_block3{
	text-align:center;
	color:#fff;
	margin:0px 0 30px;
	@media (max-width:767px){
		margin:25px auto;
	}
	span{
		color:#72c02c;
	}
	p{
		color:#fff;
		padding:10px 0;
	}
  }
}

