.text_head_provide, .text_head_pr2{
	text-align:center;
	margin-top:40px;
	visibility:visible;
	position:relative;
	@media (max-width:991px){
		margin-top:50px;
	}
	
	.head_provide{
		visibility:visible;
	}
	
	.h2_provide{
		color:#555;
		font-size:22px;
		margin-top:-30px;
		span{
			padding:10px 0;
		}
	}
	// &:hover .h2_provide{
	// 	visibility:hidden;
	//      }
	p{
		color:#999;
		line-height:25px;
		padding:20px 0;
	}
	// &:hover .text_head_hv{
	// 	visibility:visible;
	//    }
	
	
	.text_head_hv{
		margin-top:-50px;
		border-bottom:1px solid #ccc;
		visibility: visible;
		.h2_head_hv{
		margin:-35px 0 0 0;
		float:left;
		padding-bottom:10px;
		display:inline-block;
		border-bottom:2px solid #72c02c;
		font-size:22px;
		color:#555;
		text-align:left;
		}
	
	}
	
}
// .block_all{ visibility:visible;
// 			display:block;
//             margin-top:-250px;}
.block_provide{
	overflow:hidden;
	margin-bottom:20px;
	padding:15px 15px 10px;
	@media (max-width:991px){
	padding:0;
	}
	.provide-icon-w{
		float:left;
		font-size:25px;
		color:#a1a1a1;
		text-align:center;
		padding:8px;
		width:40px;
		height:40px;
		border-radius:50%;
		background:#eee;
		margin-top:15px;
	     }

	&:hover i, .icon_active{
		color:#fff;
		background:#72c02c;
		
	}
	.describe{
		padding:0 15px;
		overflow:hidden;
		@media (max-width:991px){
			padding:0 30px;
		}
		h4{
			font-size:22px;
			line-height:25px;
			color:#555;
		    }
		p{
			color:#999;
		}
	}
}
.img_provide{
		width:160px;
		height:auto;
		margin: 40px 0 60px 580px;
		visibility:visible;
		@media (max-width:991px){
		margin-left:26%;
		}
		@media (max-width:767px){
		margin-left:20%;	
		}
	}

.img_group{
	float:left;
	padding:70px 0;
	margin-left:-30px;
	width:150px;
}
.text_Testimonial{
	padding:40px 10px 0 0;
	overflow:hidden;
	h4{
		width:236px;
		border-bottom:1px solid #ccc;
		padding:10px 0;
		color:#555;
	}
	p{
		line-height:25px;
		color:#999;
	}
}

.list_group{
	list-style:none;
	margin-left:70px;
	margin-top:-10px;
	li{
		color:#999;
		line-height:40px;
		i{
			color:#e6e6e6;
			padding:5px 5px;
			font-size:5px;
		}
	}
}
.margin-top{
	margin-top:-40px;
}
